trunk/src/test/resources/xsd/clarin-webservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dcr="http://www.isocat.org/ns/dcr"
           xmlns:ann="http://www.clarin.eu"
           xmlns:cmd="http://www.clarin.eu/cmd/"
           targetNamespace="http://www.clarin.eu/cmd/"
           elementFormDefault="qualified">
 <xs:import namespace="http://www.w3.org/XML/1998/namespace"
            schemaLocation="http://www.w3.org/2001/xml.xsd"/>
 <xs:simpleType name="Resourcetype_simple">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Metadata">
    <xs:annotation>
     <xs:documentation>The ResourceProxy
                            refers to another component
                            metadata instance (e.g. for
                            grouping metadata descriptions
                            into
                            collections)</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
   <xs:enumeration value="Resource">
    <xs:annotation>
     <xs:documentation>The ResourceProxy
                            refers to a file that is not a
                            metadata instance (e.g. a text
                            document)</xs:documentation>
    </xs:annotation>
   </xs:enumeration>
  </xs:restriction>
 </xs:simpleType>
 <xs:element name="CMD">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="Header">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="MdCreator" type="xs:string" minOccurs="0"/>
       <xs:element name="MdCreationDate" type="xs:date" minOccurs="0"/>
       <xs:element name="MdSelfLink" type="xs:anyURI" minOccurs="0"/>
       <xs:element name="MdProfile" type="xs:anyURI" minOccurs="0"/>
       <xs:element name="MdCollectionDisplayName" type="xs:string" minOccurs="0"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="Resources">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="ResourceProxyList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceProxy">
           <xs:complexType>
            <xs:sequence>
             <xs:element maxOccurs="1" minOccurs="1" name="ResourceType">
              <xs:complexType>
               <xs:simpleContent>
                <xs:extension base="cmd:Resourcetype_simple">
                 <xs:attribute name="mimetype" type="xs:string"/>
                </xs:extension>
               </xs:simpleContent>
              </xs:complexType>
             </xs:element>
             <xs:element maxOccurs="1" minOccurs="1" name="ResourceRef" type="xs:anyURI"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="JournalFileProxyList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="JournalFileProxy">
           <xs:complexType>
            <xs:sequence>
             <xs:element maxOccurs="1" minOccurs="1" name="JournalFileRef" type="xs:anyURI"/>
            </xs:sequence>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="ResourceRelationList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRelation">
           <xs:complexType>
            <xs:sequence>
             <xs:element maxOccurs="1" minOccurs="1" name="RelationType"/>
             <xs:element maxOccurs="1" minOccurs="1" name="Res1">
              <xs:complexType>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element maxOccurs="1" minOccurs="1" name="Res2">
              <xs:complexType>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element minOccurs="0" name="IsPartOfList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IsPartOf" type="xs:anyURI"/>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="Components">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="CLARINWebService" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Service" minOccurs="1" maxOccurs="1"
                      dcr:datcat="http://www.isocat.org/datcat/DC-4159">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4160" minOccurs="1"
                         maxOccurs="1"
                         ann:documentation="The name of the web service or set of web services."
                         ann:displaypriority="1">
              <xs:complexType>
               <xs:simpleContent>
                <xs:extension base="xs:string">
                 <xs:attribute ref="xml:lang"/>
                </xs:extension>
               </xs:simpleContent>
              </xs:complexType>
             </xs:element>
             <xs:element name="Description" maxOccurs="unbounded"
                         dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                         minOccurs="0"
                         ann:documentation="A description of the web service or set of web services.">
              <xs:complexType>
               <xs:simpleContent>
                <xs:extension base="xs:string">
                 <xs:attribute ref="xml:lang"/>
                </xs:extension>
               </xs:simpleContent>
              </xs:complexType>
             </xs:element>
             <xs:element name="ServiceDescriptionLocation" minOccurs="1" maxOccurs="1"
                         dcr:datcat="http://www.isocat.org/datcat/DC-4161">
              <xs:complexType>
               <xs:sequence/>
               <xs:attribute name="ref" type="xs:IDREFS"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="Operations" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Operation" minOccurs="1" maxOccurs="unbounded"
                            dcr:datcat="http://www.isocat.org/datcat/DC-4175">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4176" minOccurs="1"
                               maxOccurs="1"
                               ann:documentation="This Operation Name should be resolvable in the Service ServiceDescription, i.e., the WSDL or WADL document describing how to technically invoke the service."
                               ann:displaypriority="1">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute ref="xml:lang"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="Description" maxOccurs="unbounded"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                               minOccurs="0"
                               ann:documentation="The Operation Description should describe what this operation does to the input to produce the output.">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute ref="xml:lang"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="Input" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-4177">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="ParameterGroup" minOccurs="0" maxOccurs="unbounded"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-4179">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4180" minOccurs="1"
                                     maxOccurs="1"
                                     ann:documentation="This ParameterGroup Name should in general be resolvable in the Service ServiceDescription, i.e., the WSDL or WADL document describing how to technically invoke the service."
                                     ann:displaypriority="1">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Description" maxOccurs="unbounded"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                     minOccurs="0"
                                     ann:documentation="Describes the role of this ParameterGroup for this web service operation.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="MIMEType" dcr:datcat="http://www.isocat.org/datcat/DC-2571" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The MIME type of this ParameterGroup, which indicates that its one input resource containing several input Parameters.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="DataType" dcr:datcat="http://www.isocat.org/datcat/DC-4181" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The data type of this ParameterGroup.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                     name="DataCategory"
                                     ann:documentation="The PID refering to the (ISOcat) data category specifying this ParameterGroup."/>
                         <xs:element name="SemanticType" dcr:datcat="http://www.isocat.org/datcat/DC-4183"
                                     minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="A type describing the semantics of this parameter in its context. For example, an input parameter might be an WS specific project name, given to a project created by an earlier WS call. In that case the name of the parameter might be 'project', its data type might be 'xsd:string', its data category /projectName/ and its semantic type 'myWSApp.project'.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Parameters" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Parameter" minOccurs="1" maxOccurs="unbounded"
                                        dcr:datcat="http://www.isocat.org/datcat/DC-4184">
                             <xs:complexType>
                              <xs:sequence>
                               <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4180" minOccurs="1"
                                           maxOccurs="1"
                                           ann:documentation="This Parameter Name, unless the Parameter is part of a ParameterGroup, should be resolvable in the Service ServiceDescription, , i.e., the WSDL or WADL document describing how to technically invoke the service."
                                           ann:displaypriority="1">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="Description" maxOccurs="unbounded"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                           minOccurs="0"
                                           ann:documentation="Describes the role of this Parameter for this web service operation.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="MIMEType" dcr:datcat="http://www.isocat.org/datcat/DC-2571" minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="The MIME type of this Parameter, which indicates that its an input resource on its own.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="DataType" dcr:datcat="http://www.isocat.org/datcat/DC-4181" minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="The data type of this Parameter. In general this should be an XSD data type, e.g., xsd:string or xsd:anyURI.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element maxOccurs="1" minOccurs="0" type="xs:boolean"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-4185"
                                           name="isConfigurationParameter"
                                           ann:documentation="Set this flag to true if the parameter configures the operation of the web services, which is something else then the input the operation works upon. For example, the input of an operation can be a series of sensor values while a configuration parameter might be a treshhold or a weight used in the calculation done on this sensor values."/>
                               <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                           name="DataCategory"
                                           ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter."/>
                               <xs:element name="SemanticType" dcr:datcat="http://www.isocat.org/datcat/DC-4183"
                                           minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="A type describing the semantics of this parameter in its context. For example, an input parameter might be an WS specific project name, given to a project created by an earlier WS call. In that case the name of the parameter might be 'project', its data type might be 'xsd:string', its data category /projectName/ and its semantic type 'myWSApp.project'.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="Values" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                 <xs:sequence>
                                  <xs:element name="ParameterValue" minOccurs="1" maxOccurs="unbounded"
                                              dcr:datcat="http://www.isocat.org/datcat/DC-4186">
                                   <xs:complexType>
                                    <xs:sequence>
                                     <xs:element name="Value" dcr:datcat="http://www.isocat.org/datcat/DC-1978" minOccurs="1"
                                                 maxOccurs="1"
                                                 ann:documentation="A possible literal value of a parameter."
                                                 ann:displaypriority="1">
                                      <xs:complexType>
                                       <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                         <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                       </xs:simpleContent>
                                      </xs:complexType>
                                     </xs:element>
                                     <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                                 minOccurs="0"
                                                 maxOccurs="1"
                                                 ann:documentation="A description of the meaning of a possible literal value of a parameter.">
                                      <xs:complexType>
                                       <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                         <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                       </xs:simpleContent>
                                      </xs:complexType>
                                     </xs:element>
                                     <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                                 dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                                 name="DataCategory"
                                                 ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter Value."/>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                   </xs:complexType>
                                  </xs:element>
                                 </xs:sequence>
                                 <xs:attribute name="ref" type="xs:IDREFS"/>
                                </xs:complexType>
                               </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:IDREFS"/>
                              <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1299509410079"/>
                             </xs:complexType>
                            </xs:element>
                           </xs:sequence>
                           <xs:attribute name="ref" type="xs:IDREFS"/>
                          </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1302702320471"/>
                       </xs:complexType>
                      </xs:element>
                      <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-4184">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4180" minOccurs="1"
                                     maxOccurs="1"
                                     ann:documentation="This Parameter Name, unless the Parameter is part of a ParameterGroup, should be resolvable in the Service ServiceDescription, , i.e., the WSDL or WADL document describing how to technically invoke the service."
                                     ann:displaypriority="1">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Description" maxOccurs="unbounded"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                     minOccurs="0"
                                     ann:documentation="Describes the role of this Parameter for this web service operation.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="MIMEType" dcr:datcat="http://www.isocat.org/datcat/DC-2571" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The MIME type of this Parameter, which indicates that its an input resource on its own.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="DataType" dcr:datcat="http://www.isocat.org/datcat/DC-4181" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The data type of this Parameter. In general this should be an XSD data type, e.g., xsd:string or xsd:anyURI.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element maxOccurs="1" minOccurs="0" type="xs:boolean"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-4185"
                                     name="isConfigurationParameter"
                                     ann:documentation="Set this flag to true if the parameter configures the operation of the web services, which is something else then the input the operation works upon. For example, the input of an operation can be a series of sensor values while a configuration parameter might be a treshhold or a weight used in the calculation done on this sensor values."/>
                         <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                     name="DataCategory"
                                     ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter."/>
                         <xs:element name="SemanticType" dcr:datcat="http://www.isocat.org/datcat/DC-4183"
                                     minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="A type describing the semantics of this parameter in its context. For example, an input parameter might be an WS specific project name, given to a project created by an earlier WS call. In that case the name of the parameter might be 'project', its data type might be 'xsd:string', its data category /projectName/ and its semantic type 'myWSApp.project'.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Values" minOccurs="0" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="ParameterValue" minOccurs="1" maxOccurs="unbounded"
                                        dcr:datcat="http://www.isocat.org/datcat/DC-4186">
                             <xs:complexType>
                              <xs:sequence>
                               <xs:element name="Value" dcr:datcat="http://www.isocat.org/datcat/DC-1978" minOccurs="1"
                                           maxOccurs="1"
                                           ann:documentation="A possible literal value of a parameter."
                                           ann:displaypriority="1">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                           minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="A description of the meaning of a possible literal value of a parameter.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                           name="DataCategory"
                                           ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter Value."/>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:IDREFS"/>
                             </xs:complexType>
                            </xs:element>
                           </xs:sequence>
                           <xs:attribute name="ref" type="xs:IDREFS"/>
                          </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1299509410079"/>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREFS"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="Output" minOccurs="1" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-4178">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="ParameterGroup" minOccurs="0" maxOccurs="unbounded"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-4179">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4180" minOccurs="1"
                                     maxOccurs="1"
                                     ann:documentation="This ParameterGroup Name should in general be resolvable in the Service ServiceDescription, i.e., the WSDL or WADL document describing how to technically invoke the service."
                                     ann:displaypriority="1">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Description" maxOccurs="unbounded"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                     minOccurs="0"
                                     ann:documentation="Describes the role of this ParameterGroup for this web service operation.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="MIMEType" dcr:datcat="http://www.isocat.org/datcat/DC-2571" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The MIME type of this ParameterGroup, which indicates that its one input resource containing several input Parameters.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="DataType" dcr:datcat="http://www.isocat.org/datcat/DC-4181" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The data type of this ParameterGroup.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                     name="DataCategory"
                                     ann:documentation="The PID refering to the (ISOcat) data category specifying this ParameterGroup."/>
                         <xs:element name="SemanticType" dcr:datcat="http://www.isocat.org/datcat/DC-4183"
                                     minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="A type describing the semantics of this parameter in its context. For example, an input parameter might be an WS specific project name, given to a project created by an earlier WS call. In that case the name of the parameter might be 'project', its data type might be 'xsd:string', its data category /projectName/ and its semantic type 'myWSApp.project'.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Parameters" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Parameter" minOccurs="1" maxOccurs="unbounded"
                                        dcr:datcat="http://www.isocat.org/datcat/DC-4184">
                             <xs:complexType>
                              <xs:sequence>
                               <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4180" minOccurs="1"
                                           maxOccurs="1"
                                           ann:documentation="This Parameter Name, unless the Parameter is part of a ParameterGroup, should be resolvable in the Service ServiceDescription, , i.e., the WSDL or WADL document describing how to technically invoke the service."
                                           ann:displaypriority="1">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="Description" maxOccurs="unbounded"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                           minOccurs="0"
                                           ann:documentation="Describes the role of this Parameter for this web service operation.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="MIMEType" dcr:datcat="http://www.isocat.org/datcat/DC-2571" minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="The MIME type of this Parameter, which indicates that its an input resource on its own.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="DataType" dcr:datcat="http://www.isocat.org/datcat/DC-4181" minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="The data type of this Parameter. In general this should be an XSD data type, e.g., xsd:string or xsd:anyURI.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element maxOccurs="1" minOccurs="0" type="xs:boolean"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-4185"
                                           name="isConfigurationParameter"
                                           ann:documentation="Set this flag to true if the parameter configures the operation of the web services, which is something else then the input the operation works upon. For example, the input of an operation can be a series of sensor values while a configuration parameter might be a treshhold or a weight used in the calculation done on this sensor values."/>
                               <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                           name="DataCategory"
                                           ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter."/>
                               <xs:element name="SemanticType" dcr:datcat="http://www.isocat.org/datcat/DC-4183"
                                           minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="A type describing the semantics of this parameter in its context. For example, an input parameter might be an WS specific project name, given to a project created by an earlier WS call. In that case the name of the parameter might be 'project', its data type might be 'xsd:string', its data category /projectName/ and its semantic type 'myWSApp.project'.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="Values" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                 <xs:sequence>
                                  <xs:element name="ParameterValue" minOccurs="1" maxOccurs="unbounded"
                                              dcr:datcat="http://www.isocat.org/datcat/DC-4186">
                                   <xs:complexType>
                                    <xs:sequence>
                                     <xs:element name="Value" dcr:datcat="http://www.isocat.org/datcat/DC-1978" minOccurs="1"
                                                 maxOccurs="1"
                                                 ann:documentation="A possible literal value of a parameter."
                                                 ann:displaypriority="1">
                                      <xs:complexType>
                                       <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                         <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                       </xs:simpleContent>
                                      </xs:complexType>
                                     </xs:element>
                                     <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                                 minOccurs="0"
                                                 maxOccurs="1"
                                                 ann:documentation="A description of the meaning of a possible literal value of a parameter.">
                                      <xs:complexType>
                                       <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                         <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                       </xs:simpleContent>
                                      </xs:complexType>
                                     </xs:element>
                                     <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                                 dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                                 name="DataCategory"
                                                 ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter Value."/>
                                    </xs:sequence>
                                    <xs:attribute name="ref" type="xs:IDREFS"/>
                                   </xs:complexType>
                                  </xs:element>
                                 </xs:sequence>
                                 <xs:attribute name="ref" type="xs:IDREFS"/>
                                </xs:complexType>
                               </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:IDREFS"/>
                              <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1299509410079"/>
                             </xs:complexType>
                            </xs:element>
                           </xs:sequence>
                           <xs:attribute name="ref" type="xs:IDREFS"/>
                          </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1302702320471"/>
                       </xs:complexType>
                      </xs:element>
                      <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-4184">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Name" dcr:datcat="http://www.isocat.org/datcat/DC-4180" minOccurs="1"
                                     maxOccurs="1"
                                     ann:documentation="This Parameter Name, unless the Parameter is part of a ParameterGroup, should be resolvable in the Service ServiceDescription, , i.e., the WSDL or WADL document describing how to technically invoke the service."
                                     ann:displaypriority="1">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Description" maxOccurs="unbounded"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                     minOccurs="0"
                                     ann:documentation="Describes the role of this Parameter for this web service operation.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="MIMEType" dcr:datcat="http://www.isocat.org/datcat/DC-2571" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The MIME type of this Parameter, which indicates that its an input resource on its own.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="DataType" dcr:datcat="http://www.isocat.org/datcat/DC-4181" minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="The data type of this Parameter. In general this should be an XSD data type, e.g., xsd:string or xsd:anyURI.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element maxOccurs="1" minOccurs="0" type="xs:boolean"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-4185"
                                     name="isConfigurationParameter"
                                     ann:documentation="Set this flag to true if the parameter configures the operation of the web services, which is something else then the input the operation works upon. For example, the input of an operation can be a series of sensor values while a configuration parameter might be a treshhold or a weight used in the calculation done on this sensor values."/>
                         <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                     dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                     name="DataCategory"
                                     ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter."/>
                         <xs:element name="SemanticType" dcr:datcat="http://www.isocat.org/datcat/DC-4183"
                                     minOccurs="0"
                                     maxOccurs="1"
                                     ann:documentation="A type describing the semantics of this parameter in its context. For example, an input parameter might be an WS specific project name, given to a project created by an earlier WS call. In that case the name of the parameter might be 'project', its data type might be 'xsd:string', its data category /projectName/ and its semantic type 'myWSApp.project'.">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute ref="xml:lang"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                         <xs:element name="Values" minOccurs="0" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="ParameterValue" minOccurs="1" maxOccurs="unbounded"
                                        dcr:datcat="http://www.isocat.org/datcat/DC-4186">
                             <xs:complexType>
                              <xs:sequence>
                               <xs:element name="Value" dcr:datcat="http://www.isocat.org/datcat/DC-1978" minOccurs="1"
                                           maxOccurs="1"
                                           ann:documentation="A possible literal value of a parameter."
                                           ann:displaypriority="1">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                           minOccurs="0"
                                           maxOccurs="1"
                                           ann:documentation="A description of the meaning of a possible literal value of a parameter.">
                                <xs:complexType>
                                 <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                   <xs:attribute ref="xml:lang"/>
                                  </xs:extension>
                                 </xs:simpleContent>
                                </xs:complexType>
                               </xs:element>
                               <xs:element maxOccurs="1" minOccurs="0" type="xs:anyURI"
                                           dcr:datcat="http://www.isocat.org/datcat/DC-4182"
                                           name="DataCategory"
                                           ann:documentation="The PID refering to the (ISOcat) data category specifying this Parameter Value."/>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:IDREFS"/>
                             </xs:complexType>
                            </xs:element>
                           </xs:sequence>
                           <xs:attribute name="ref" type="xs:IDREFS"/>
                          </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREFS"/>
                        <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1299509410079"/>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREFS"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREFS"/>
                  <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1299509410080"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREFS"/>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREFS"/>
            <xs:attribute name="CoreVersion" dcr:datcat="http://www.isocat.org/datcat/DC-2547">
             <xs:simpleType>
              <xs:restriction base="xs:string">
               <xs:enumeration value="1.0" dcr:datcat="" ann:label=""/>
              </xs:restriction>
             </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ComponentId" type="xs:anyURI" fixed="clarin.eu:cr1:c_1299509410081"/>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
         <xs:attribute name="ref" type="xs:IDREFS"/>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
   </xs:sequence>
   <xs:attribute name="CMDVersion" fixed="1.1" use="required"/>
  </xs:complexType>
 </xs:element>
</xs:schema>